.main {
  text-align: center;
}

h1, p {
  font-family: sans-serif;
}

#frontOfBall, #backOfBall {
  height: 345px;
  width: 345px;
}

#frontOfBall {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#backOfBall {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#answer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#ball {
  position: relative;
}

.Error {
  margin-bottom: 1.5em;
}

#error {
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 19px;
  display: inline;
}

#confirm {
  display: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
